<div>
    <h2 id="page-heading">
        <span jhiTranslate="projectApp.mainStep.home.title">Main Steps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-main-step" [routerLink]="['/main-step/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="projectApp.mainStep.home.createLabel">
            Create new Main Step
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'projectApp.mainStep.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="mainSteps">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainStep"><span jhiTranslate="projectApp.mainStep.mainStep">Main Step</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="actionTitle"><span jhiTranslate="projectApp.mainStep.actionTitle">Action Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="detailOfAction"><span jhiTranslate="projectApp.mainStep.detailOfAction">Detail Of Action</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="month"><span jhiTranslate="projectApp.mainStep.month">Month</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="percent"><span jhiTranslate="projectApp.mainStep.percent">Percent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="result"><span jhiTranslate="projectApp.mainStep.result">Result</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documentId"><span jhiTranslate="projectApp.mainStep.document">Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mainStep of mainSteps ;trackBy: trackId">
                <td><a [routerLink]="['/main-step', mainStep.id, 'view' ]">{{mainStep.id}}</a></td>
                <td>{{mainStep.mainStep}}</td>
                <td>{{mainStep.actionTitle}}</td>
                <td>{{mainStep.detailOfAction}}</td>
                <td>{{mainStep.month}}</td>
                <td>{{mainStep.percent}}</td>
                <td>{{mainStep.result}}</td>
                <td>
                    <div *ngIf="mainStep.documentId">
                        <a [routerLink]="['../document', mainStep.documentId , 'view' ]" >{{mainStep.documentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/main-step', mainStep.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/main-step', mainStep.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'main-step', { outlets: { popup: mainStep.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="mainSteps && mainSteps.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
