<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-researcher-history-heading" jhiTranslate="projectApp.researcherHistory.home.createOrEditLabel">Create or edit a Researcher History</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!researcherHistory.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="researcherHistory.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectApp.researcherHistory.fromDate" for="field_fromDate">From Date</label>
                    <div class="d-flex">
                        <input id="field_fromDate" type="datetime-local" class="form-control" name="fromDate" [(ngModel)]="fromDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectApp.researcherHistory.toDate" for="field_toDate">To Date</label>
                    <div class="d-flex">
                        <input id="field_toDate" type="datetime-local" class="form-control" name="toDate" [(ngModel)]="toDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectApp.researcherHistory.organization" for="field_organization">Organization</label>
                    <input type="text" class="form-control" name="organization" id="field_organization"
                        [(ngModel)]="researcherHistory.organization" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectApp.researcherHistory.level" for="field_level">Level</label>
                    <input type="text" class="form-control" name="level" id="field_level"
                        [(ngModel)]="researcherHistory.level" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectApp.researcherHistory.job" for="field_job">Job</label>
                    <input type="text" class="form-control" name="job" id="field_job"
                        [(ngModel)]="researcherHistory.job" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectApp.researcherHistory.document" for="field_document">Document</label>
                    <select class="form-control" id="field_document" name="document" [(ngModel)]="researcherHistory.documentId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="documentOption.id" *ngFor="let documentOption of documents; trackBy: trackDocumentById">{{documentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
