<div>
    <h2 id="page-heading">
        <span jhiTranslate="projectApp.researcherHistory.home.title">Researcher Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-researcher-history" [routerLink]="['/researcher-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="projectApp.researcherHistory.home.createLabel">
            Create new Researcher History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'projectApp.researcherHistory.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="researcherHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fromDate"><span jhiTranslate="projectApp.researcherHistory.fromDate">From Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="toDate"><span jhiTranslate="projectApp.researcherHistory.toDate">To Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organization"><span jhiTranslate="projectApp.researcherHistory.organization">Organization</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="level"><span jhiTranslate="projectApp.researcherHistory.level">Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="job"><span jhiTranslate="projectApp.researcherHistory.job">Job</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documentId"><span jhiTranslate="projectApp.researcherHistory.document">Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let researcherHistory of researcherHistories ;trackBy: trackId">
                <td><a [routerLink]="['/researcher-history', researcherHistory.id, 'view' ]">{{researcherHistory.id}}</a></td>
                <td>{{researcherHistory.fromDate | date:'medium'}}</td>
                <td>{{researcherHistory.toDate | date:'medium'}}</td>
                <td>{{researcherHistory.organization}}</td>
                <td>{{researcherHistory.level}}</td>
                <td>{{researcherHistory.job}}</td>
                <td>
                    <div *ngIf="researcherHistory.documentId">
                        <a [routerLink]="['../document', researcherHistory.documentId , 'view' ]" >{{researcherHistory.documentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/researcher-history', researcherHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/researcher-history', researcherHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'researcher-history', { outlets: { popup: researcherHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="researcherHistories && researcherHistories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
