<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="existingResearchProject">
            <h2><span jhiTranslate="projectApp.existingResearchProject.detail.title">Existing Research Project</span> {{existingResearchProject.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projectApp.existingResearchProject.projectTitle">Project Title</span></dt>
                <dd>
                    <span>{{existingResearchProject.projectTitle}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.existingResearchProject.projectCode">Project Code</span></dt>
                <dd>
                    <span>{{existingResearchProject.projectCode}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.existingResearchProject.institution">Institution</span></dt>
                <dd>
                    <span>{{existingResearchProject.institution}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.existingResearchProject.fromDate">From Date</span></dt>
                <dd>
                    <span>{{existingResearchProject.fromDate}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.existingResearchProject.toDate">To Date</span></dt>
                <dd>
                    <span>{{existingResearchProject.toDate}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.existingResearchProject.lastStatus">Last Status</span></dt>
                <dd>
                    <span>{{existingResearchProject.lastStatus}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.existingResearchProject.document">Document</span></dt>
                <dd>
                    <div *ngIf="existingResearchProject.documentId">
                        <a [routerLink]="['/document', existingResearchProject.documentId, 'view']">{{existingResearchProject.documentId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/existing-research-project', existingResearchProject.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
