<div>
    <h2 id="page-heading">
        <span jhiTranslate="projectApp.phase.home.title">Phases</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-phase"
                (click)="createNewPhase()">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="projectApp.phase.home.createLabel">
            Create new Phase
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <table mat-table
               [dataSource]="phases" multiTemplateDataRows
               class="mat-elevation-z8">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> عنوان</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <input matInput style="max-width: 150px" type="text" name="title"
                               [(ngModel)]="element.title"/>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="percent">
                <th mat-header-cell *matHeaderCellDef> درصد</th>
                <td mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <input matInput style="max-width: 150px" type="text" name="percent"
                               [(ngModel)]="element.percent"/>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef>تاریخ شروع</th>
                <td mat-cell *matCellDef="let element">
                    {{element.startDate}}
                </td>
            </ng-container>

            <ng-container matColumnDef="finishDate">
                <th mat-header-cell *matHeaderCellDef> تاریخ پایان</th>
                <td mat-cell *matCellDef="let element"> {{element.finishDate}}</td>
            </ng-container>

            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef>هزینه</th>
                <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>ویرایش</th>
                <td mat-cell *matCellDef="let element">
                    <button type="button"
                            (click)="editOrCreate(element)"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>حذف</th>
                <td mat-cell *matCellDef="let element">
                    <button type="button"
                            [routerLink]="['/', 'phase', { outlets: { popup: element.id + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                         [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <table mat-table
                               [dataSource]="element.actions" multiTemplateDataRows
                               class="mat-elevation-z8">
                            <ng-container matColumnDef="title">
                                <th mat-header-cell *matHeaderCellDef> عنوان</th>
                                <td mat-cell *matCellDef="let action"> {{action.title}} </td>
                            </ng-container>

                            <ng-container matColumnDef="doPercent">
                                <th mat-header-cell *matHeaderCellDef> درصد انچام شده</th>
                                <td mat-cell *matCellDef="let action"> {{action.doPercent}} </td>
                            </ng-container>

                            <ng-container matColumnDef="finalPercent">
                                <th mat-header-cell *matHeaderCellDef> درصد</th>
                                <td mat-cell *matCellDef="let action"> {{action.finalPercent}} </td>
                            </ng-container>

                            <ng-container matColumnDef="startDate">
                                <th mat-header-cell *matHeaderCellDef>تاریخ شروع</th>
                                <td mat-cell *matCellDef="let action"> {{action.startDate|jalalidate}} </td>
                            </ng-container>

                            <ng-container matColumnDef="finishDate">
                                <th mat-header-cell *matHeaderCellDef> تاریخ پایان</th>
                                <td mat-cell *matCellDef="let action"> {{action.finishDate|jalalidate}} </td>
                            </ng-container>

                            <ng-container matColumnDef="reasonOfDelay">
                                <th mat-header-cell *matHeaderCellDef>دلایل تاخیر</th>
                                <td mat-cell *matCellDef="let action"> {{action.reasonOfDelay}} </td>
                            </ng-container>

                            <ng-container matColumnDef="isFinish">
                                <th mat-header-cell *matHeaderCellDef>اتمام</th>
                                <td mat-cell *matCellDef="let action"> {{action.isFinish}} </td>
                            </ng-container>

                            <ng-container matColumnDef="edit">
                                <th mat-header-cell *matHeaderCellDef>ویرایش</th>
                                <td mat-cell *matCellDef="let action">
                                    <button type="button"
                                            (click)="editOrCreate(action)"
                                            class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef>حذف</th>
                                <td mat-cell *matCellDef="let action">
                                    <button type="button"
                                            [routerLink]="['/', 'phase', { outlets: { popup: action.id + '/delete'} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnsToDisplayAction"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnsToDisplayAction;"></tr>
                        </table>
                    </div>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                           name="currentSearch" placeholder="{{ 'projectApp.phase.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="phases" style="min-height: 500px;">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="title"><span jhiTranslate="projectApp.phase.title">Title</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="percent"><span jhiTranslate="projectApp.phase.percent">Percent</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="startDate"><span jhiTranslate="projectApp.phase.startDate">Start Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="finishDate"><span jhiTranslate="projectApp.phase.finishDate">Finish Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="cost"><span jhiTranslate="projectApp.phase.cost">Cost</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let phase of phases ;trackBy: trackId">
                <td>
                    <input style="max-width: 150px" type="text" class="form-control" name="title"
                           id="field_title"
                           [(ngModel)]="phase.title"/>
                </td>
                <td>
                    <input style="max-width: 150px" type="number" class="form-control" name="percent"
                           id="field_percent"
                           [(ngModel)]="phase.percent"/>
                </td>
                <td>
                    <div class="d-flex" style="width: 100%">
                        <dp-date-picker
                            dir="ltr"
                            class="form-control"
                            [(ngModel)]="phase.startDate"
                            id="field_startDate"
                            mode="day"
                            placeholder="تاریخ"
                            theme="dp-material"
                            [ngModelOptions]="{standalone: true}"
                        ></dp-date-picker>
                    </div>
                </td>
                <td>
                    <div class="d-flex" style="width: 100%">
                        <dp-date-picker
                            dir="ltr"
                            style="border: none"
                            class="form-control"
                            [(ngModel)]="phase.finishDate"
                            id="field_finishDate"
                            mode="day"
                            placeholder="تاریخ"
                            theme="dp-material"
                            [ngModelOptions]="{standalone: true}"
                        ></dp-date-picker>
                    </div>
                </td>
                <td>
                    <input style="max-width: 150px" type="number" class="form-control" name="cost"
                           id="field_cost"
                           [(ngModel)]="phase.cost"/>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="button"
                                [disabled]="phase.isFinish"
                                (click)="doFinish(phase)"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'save'"></fa-icon>
                        </button>
                        <button type="button"
                                [routerLink]="['/project',projectId,'phase',phase.id,'action']"
                                replaceUrl="true"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="'tasks'"></fa-icon>
                        </button>
                        <button type="button"
                                (click)="editOrCreate(phase)"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="button"
                                [routerLink]="['/project',projectId, 'phase', { outlets: { popup: phase.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="phases && phases.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
