<div>
    <div class="row">

    </div>
    <h2 id="page-heading">
        <div class="col-md-12">
            <jhi-project-title [projectId]="projectId"></jhi-project-title>
        </div>
        <td jhiTranslate="{{'projectApp.FinancialProjectType.' + type}}">{{type}}</td>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-financial-project"
                [routerLink]="['/project',projectId,'financial-project','new',type ? type : '']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="projectApp.financialProject.home.createLabel">
            Create new Financial Project
            </span>
        </button>
        <button id="jh-download" class="btn btn-success float-right jh-create-entity create-financial-project"
                (click)="download()">
            <fa-icon [icon]="'download'"></fa-icon>
            <span class="hidden-sm-down">
            دانلود فایل اکسل
            </span>
        </button>
        <button id="jh-back" class="btn btn-success float-right jh-create-entity create-financial-project"
                [routerLink]="['/project',projectId,'financial-project']">
            <fa-icon [icon]="'exit'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="entity.action.back">
            Create new Financial Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>

    <br/>
    <ng-container class="table-responsive" *ngIf="financialProjects">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="amount"><span jhiTranslate="projectApp.financialProject.amount">Amount</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <ng-container *ngIf="type===FinancialProjectType[FinancialProjectType.SEND_TO_OTHER_PROJECT]">
                    <th jhiSortBy="targetProjectTitle"><span jhiTranslate="projectApp.financialProject.targetProject">Amount</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                </ng-container>
                <ng-container *ngIf="type===FinancialProjectType[FinancialProjectType.RECEIVED_FROM_OTHER_PROJECT]">
                    <th jhiSortBy="targetProjectTitle"><span jhiTranslate="projectApp.financialProject.targetProject">Amount</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                </ng-container>
                <ng-container *ngIf="type===FinancialProjectType[FinancialProjectType.RECEIVED_FROM_INSTITUTION] ||
                                type===FinancialProjectType[FinancialProjectType.AMOUNT_CONFIRMED] ||
                                type===FinancialProjectType[FinancialProjectType.RECEIVED_FROM_ORGANIZATION] ||
                                type===FinancialProjectType[FinancialProjectType.CREDIT_APPLY] ||
                            type===FinancialProjectType[FinancialProjectType.SEND_TO_PROJECT_HAVE_CODE] ||
                            type===FinancialProjectType[FinancialProjectType.SEND_TO_PROJECT_NOT_HAVE_CODE]">
                    <th jhiSortBy="code"><span jhiTranslate="projectApp.financialProject.code">Code</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="registerDate"><span
                        jhiTranslate="projectApp.financialProject.registerDate">Title</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                </ng-container>
                <ng-container
                    *ngIf="type===FinancialProjectType[FinancialProjectType.CREDIT_APPLY] ||
                            type===FinancialProjectType[FinancialProjectType.SEND_TO_PROJECT_HAVE_CODE] ||
                            type===FinancialProjectType[FinancialProjectType.SEND_TO_PROJECT_NOT_HAVE_CODE]">
                    <th><span jhiTranslate="projectApp.financialProject.getCreditProjectId">Name</span>
                    </th>
                </ng-container>
                <ng-container *ngIf="type===FinancialProjectType[FinancialProjectType.SEND_TO_PROJECT_HAVE_CODE] ||
                            type===FinancialProjectType[FinancialProjectType.SEND_TO_PROJECT_NOT_HAVE_CODE]">
                    <th jhiSortBy="sellContractNo"><span jhiTranslate="projectApp.financialProject.sellContractNo">Sell Contract No</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="factorNo"><span
                        jhiTranslate="projectApp.financialProject.factorNo">Sell Contract No</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="accountNumber"><span
                        jhiTranslate="projectApp.financialProject.accountNumber">Sell Contract No</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                </ng-container>
                <th jhiSortBy="yearConfirmed"
                    *ngIf="type===FinancialProjectType[FinancialProjectType.AMOUNT_CONFIRMED]">
                    <span jhiTranslate="projectApp.financialProject.yearConfirmed">yearConfirmed</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </th>
                <th>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let financialProject of financialProjects ;trackBy: trackId">

                <td>
                    <input style="max-width: 150px" type="number" class="form-control" name="amount" id="field_amount"
                           [(ngModel)]="financialProject.amount"/>
                </td>

                <ng-container *ngIf="type===FinancialProjectType[FinancialProjectType.SEND_TO_OTHER_PROJECT]">
                    <td>{{financialProject.targetProjectTitle}}</td>
                </ng-container>

                <ng-container *ngIf="type===FinancialProjectType[FinancialProjectType.RECEIVED_FROM_OTHER_PROJECT]">
                    <td>{{financialProject.projectTitle}}</td>
                </ng-container>

                <ng-container *ngIf="type===FinancialProjectType[FinancialProjectType.RECEIVED_FROM_INSTITUTION] ||
                                type===FinancialProjectType[FinancialProjectType.AMOUNT_CONFIRMED] ||
                                type===FinancialProjectType[FinancialProjectType.RECEIVED_FROM_ORGANIZATION] ||
                                type===FinancialProjectType[FinancialProjectType.CREDIT_APPLY] ||
                            type===FinancialProjectType[FinancialProjectType.SEND_TO_PROJECT_HAVE_CODE] ||
                            type===FinancialProjectType[FinancialProjectType.SEND_TO_PROJECT_NOT_HAVE_CODE]">
                    <td>
                        <input style="max-width: 150px" type="text" class="form-control" name="code" id="field_code"
                               [(ngModel)]="financialProject.code"/>
                    </td>
                    <td>{{financialProject.registerDate | date}}</td>
                </ng-container>
                <ng-container
                    *ngIf="type===FinancialProjectType[FinancialProjectType.CREDIT_APPLY] ||
                            type===FinancialProjectType[FinancialProjectType.SEND_TO_PROJECT_HAVE_CODE] ||
                            type===FinancialProjectType[FinancialProjectType.SEND_TO_PROJECT_NOT_HAVE_CODE]">
                    <td>{{financialProject.getCreditProjectTitle}}</td>
                </ng-container>
                <ng-container *ngIf="type===FinancialProjectType[FinancialProjectType.SEND_TO_PROJECT_HAVE_CODE] ||
                            type===FinancialProjectType[FinancialProjectType.SEND_TO_PROJECT_NOT_HAVE_CODE]">
                    <td>
                        <input style="max-width: 150px" type="text" class="form-control" name="sellContractNo"
                               id="field_sellContractNo"
                               [(ngModel)]="financialProject.sellContractNo"/>
                    </td>
                    <td>
                        <input style="max-width: 150px" type="text" class="form-control" name="factorNo"
                               id="field_factorNo"
                               [(ngModel)]="financialProject.factorNo"/>
                    </td>
                    <td>
                        <input style="max-width: 150px" type="text" class="form-control" name="factorNo"
                               id="field_accountNumber"
                               [(ngModel)]="financialProject.accountNumber"/>
                    </td>
                </ng-container>
                <td *ngIf="type===FinancialProjectType[FinancialProjectType.AMOUNT_CONFIRMED]">{{financialProject.yearConfirmed}}</td>
                <!--<td>{{financialProject.amount}}</td>
                <td>{{financialProject.code}}</td>
                <td>{{financialProject.registerDate | date}}</td>
                <td>{{financialProject.getCreditProjectTitle}}</td>
                <td>{{financialProject.sellContractNo}}</td>
                <td>{{financialProject.factorNo}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="button"
                                [routerLink]="['/project',projectId,'financial-project', financialProject.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>-->
                        <button type="button"
                                (click)="editFinancialProject(financialProject)"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/','project',projectId,'financial-project', { outlets: { popup: financialProject.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
</div>
<!-- Pager is not implemented yet, so this is normal pagination instead -->
<div *ngIf="financialProjects && financialProjects.length">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                        [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>
</div>
