<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-project-heading" jhiTranslate="projectApp.project.home.createOrEditLabel">Create or edit a
                Project</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="projectApp.financialProject.startDate"
                               for="field_startDate">Start Date</label>
                        <div class="d-flex"                                 style="width: 100%"
                        >
                            <dp-date-picker
                                dir="ltr"
                                class="form-control"
                                [(ngModel)]="project.startDate"
                                id="field_startDate"
                                mode="day"
                                placeholder="تاریخ"
                                theme="dp-material"
                                [ngModelOptions]="{standalone: true}"
                            ></dp-date-picker>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form-control-label" jhiTranslate="projectApp.financialProject.finishDate"
                               for="field_finishDate">Finish Date</label>
                        <div class="d-flex">
                            <dp-date-picker
                                dir="ltr"
                                class="form-control"
                                [(ngModel)]="project.finishDate"
                                id="field_finishDate"
                                mode="day"
                                placeholder="تاریخ"
                                theme="dp-material"
                                [ngModelOptions]="{standalone: true}"
                            ></dp-date-picker>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="projectApp.project.title" for="field_title">Title</label>
                            <input type="text" class="form-control" name="title" id="field_title"
                                   [(ngModel)]="project.title" required/>
                            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.title?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="projectApp.project.projectType"
                                   for="field_projectType">Project Type</label>
                            <select class="form-control" name="projectType" [(ngModel)]="project.projectType"
                                    id="field_projectType" required>
                                <option value="SOFTWARE">{{'projectApp.ProjectType.SOFTWARE' | translate}}</option>
                                <option value="HARDWARE">{{'projectApp.ProjectType.HARDWARE' | translate}}</option>
                            </select>
                            <div
                                [hidden]="!(editForm.controls.projectType?.dirty && editForm.controls.projectType?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.projectType?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="projectApp.financialProject.amount"
                                   for="field_amount">Amount</label>
                            <input type="number" class="form-control" name="amount" id="field_amount"
                                   [(ngModel)]="project.amountConfirmed"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label jhiTranslate="projectApp.project.users" for="field_users">Course</label>
                            <select class="form-control" id="field_users" multiple name="users"
                                    [(ngModel)]="project.users">
                                <option [ngValue]="getSelected(project.users, userOption)"
                                        *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="projectApp.project.parentProject"
                                   for="field_projectType">Project Type</label>
                            <select class="form-control" name="field_parentProject"
                                    [(ngModel)]="project.parentProjectId"
                                    id="field_parentProject">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="projectOption.id"
                                        *ngFor="let projectOption of projects">{{projectOption.title}}</option>
                            </select>
                            <div
                                [hidden]="!(editForm.controls.projectType?.dirty && editForm.controls.projectType?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.projectType?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" *ngIf="!project.parentProjectId">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="projectApp.project.code" for="field_title">Title</label>
                            <input type="text" class="form-control" name="field_code" id="field_code"
                                   [(ngModel)]="project.code" [required]="!project.parentProjectId"/>
                            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.title?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
