<div *ngIf="project" class="row justify-content-center">
    <div class="col-md-12">
        <jhi-project-title [projectId]="project.id"></jhi-project-title>
    </div>
    <div class="col-8">
        <div>
            <jhi-alert-error></jhi-alert-error>
            <div class="card">
                <div class="card-header">
                    <h1>عملیات های مربوط به پروژه</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <a [href]="'#/project/' + project.id + '/financial-project'" class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 jhiTranslate="projectApp.project.home.financial"></h4>
                                </div>
                                <div class="card-body">
                                    <h6>مبلغ مصوب : {{project.creditEstimates}}</h6>
                                    <h6>مبلغ قرار داد : {{project.sellContractAmount}}</h6>
                                    <h6>مبلغ دریافتی : {{project.creditApply}}</h6>
                                    <h6>هزینه شده : {{project.totalCost}}</h6>
                                </div>

                            </div>
                        </a>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 jhiTranslate="projectApp.project.home.technical"></h4>
                                </div>
                                <div class="card-body"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 jhiTranslate="projectApp.project.home.document"></h4>
                                </div>
                                <div class="card-body"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
