<div>
    <h2 id="page-heading">
        <span jhiTranslate="projectApp.action.home.title">Actions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-action" [routerLink]="['/action/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="projectApp.action.home.createLabel">
            Create new Action
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'projectApp.action.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="actions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="projectApp.action.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="doPercent"><span jhiTranslate="projectApp.action.doPercent">Do Percent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="finalPercent"><span jhiTranslate="projectApp.action.finalPercent">Final Percent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="projectApp.action.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="finishDate"><span jhiTranslate="projectApp.action.finishDate">Finish Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reasonOfDelay"><span jhiTranslate="projectApp.action.reasonOfDelay">Reason Of Delay</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isFinish"><span jhiTranslate="projectApp.action.isFinish">Is Finish</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phaseTitle"><span jhiTranslate="projectApp.action.phase">Phase</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let action of actions ;trackBy: trackId">
                <td><a [routerLink]="['/action', action.id, 'view' ]">{{action.id}}</a></td>
                <td>{{action.title}}</td>
                <td>{{action.doPercent}}</td>
                <td>{{action.finalPercent}}</td>
                <td>{{action.startDate | date:'medium'}}</td>
                <td>{{action.finishDate | date:'medium'}}</td>
                <td>{{action.reasonOfDelay}}</td>
                <td>{{action.isFinish}}</td>
                <td>
                    <div *ngIf="action.phaseId">
                        <a [routerLink]="['../phase', action.phaseId , 'view' ]" >{{action.phaseTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/action', action.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/action', action.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'action', { outlets: { popup: action.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="actions && actions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
