<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="action">
            <h2><span jhiTranslate="projectApp.action.detail.title">Action</span> {{action.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projectApp.action.title">Title</span></dt>
                <dd>
                    <span>{{action.title}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.action.doPercent">Do Percent</span></dt>
                <dd>
                    <span>{{action.doPercent}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.action.finalPercent">Final Percent</span></dt>
                <dd>
                    <span>{{action.finalPercent}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.action.startDate">Start Date</span></dt>
                <dd>
                    <span>{{action.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.action.finishDate">Finish Date</span></dt>
                <dd>
                    <span>{{action.finishDate}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.action.reasonOfDelay">Reason Of Delay</span></dt>
                <dd>
                    <span>{{action.reasonOfDelay}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.action.isFinish">Is Finish</span></dt>
                <dd>
                    <span>{{action.isFinish}}</span>
                </dd>
                <dt><span jhiTranslate="projectApp.action.phase">Phase</span></dt>
                <dd>
                    <div *ngIf="action.phaseId">
                        <a [routerLink]="['/phase', action.phaseId, 'view']">{{action.phaseTitle}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/action', action.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
