<div>
    <h2 id="page-heading">
        <span jhiTranslate="projectApp.document.home.title">Documents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document"
                [routerLink]="['/document/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="projectApp.document.home.createLabel">
            Create new Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="documents">
        <p-table [value]="documents">
            <ng-template pTemplate="header">
                <tr>
                    <th><span jhiTranslate="projectApp.document.title">Title</span></th>
                    <th><span
                        jhiTranslate="projectApp.document.protectiveClassification">Protective Classification</span>
                    </th>
                    <th><span jhiTranslate="projectApp.document.persianTitle">Persian Title</span></th>
                    <th><span jhiTranslate="projectApp.document.foreignTitle">Foreign Title</span></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-document let-rowIndex="rowIndex">
                <tr>
                    <td>{{document.title}}</td>
                    <td>{{document.protectiveClassification}}</td>
                    <td>{{document.persianTitle}}</td>
                    <td>{{document.foreignTitle}}</td>
                    <td>
                        <div class="btn-group flex-btn-group-container">
                            <input style="display: none" type="file" id="file_file_word"
                                   (change)="setFileData($event, documentWord, 'file', false,document,'WORD')"
                                   jhiTranslate="entity.action.addblob"/>
                            <input style="display: none" type="file" id="file_file_pdf"
                                   (change)="setFileData($event, documentPDF, 'file', false,document,'PDF')"
                                   jhiTranslate="entity.action.addblob"/>

                            <p-splitButton dir="rtl" label="File" (onClick)="loadDocumentFilePage(document)"
                                           [model]="getItems(rowIndex)"
                                           styleClass="ui-button-danger">

                            </p-splitButton>
                            <button type="submit"
                                    [routerLink]="['/project', document.projectId, 'document',document.id,'document-word']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'save'"></fa-icon>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/document', document.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', 'document', { outlets: { popup: document.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
